<!-- page-banner start-->
<section class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>services</h3>
        <ul class="banner-link text-center">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="javascript:void(0)">pages</a>
          </li>
          <li>
            <span class="active">services</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- page-banner ends-->

<!-- services start-->
<section class="bg-dull sp-100-70">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-rising"></i>
          </div>
          <h5>Bulk Deals/Best Price</h5>
          <p class="text-justify">
            Buy Products Online at Lowest Prices For Business. We Offer largest
            Selling Brands of Lubricants, Greases, Coolant, Battery, Tyres,
            Tubes, Auto Spare Parts, Accessories & Auto Care Products at
            extremely competitive prices to satisfy our wide range of
            distributors throughout entire India and out of India. This is the
            high time to come in business with our great bulk deals. It is a
            better way to move forward with world-class companies and
            investors.T&C Apply.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-list"></i>
          </div>
          <h5>15 Days Replacement Warranty</h5>
          <li class="text-justify">
            INZIN provides you a warranty period of 15 days replacement for any
            kind of replacement. If you are not satisfied with the product or
            find any issue. You may replace your order in 15 days from the date
            of billing. Just follow these 3 simple steps to receive a full
            refund
            <ul class="text-justify">
              <li>a. Notify us on Email & Call</li>
              <li>b. Return Stock with Note</li>
              <li>c. Replace your order</li>
              <li>You can have the replaced order in just 15 days.</li>
              <li>T&C Apply.</li>
            </ul>
          </li>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-medal"></i>
          </div>
          <h5>100% Quality Assurance</h5>
          <p class="text-justify">
            INZIN is a well-established Online Automotive Marketplace with an
            unrivaled focus on customer service, reliability, and quality. It
            provides you with a 100% quality assurance to all its customers. We
            Assure What You Buy!
          </p>
          <ul class="text-justify">
            <li>Quality Assurance in the Project Approval Stage</li>
            <li>Quality Testing between Production</li>
            <li>Quality Assurance of Product Shipping</li>
            <li>We never compromise with quality.</li>
            <li>T&C Apply.</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-shop"></i>
          </div>
          <h5>Fast & Free Shipping</h5>
          <p class="text-justify">
            The good news is that INZIN partners aren’t going to pay expensive
            delivery charges anymore. Now we offer the same service of Free
            Shipping on Premium Brands. Our Free Shipping plays a key role in
            delivering on the promise of 2-day shipping. With the cost of the
            average shipments, you will save in both cost and time. We Promise
            to Dispatch Goods in Just 16 hour. INZIN provides Fast Shipping
            services on its premium brands. It allows us to export & Supply
            goods to virtually anywhere in the world by a specific time or by
            the end of the next possible business day.T&C Apply.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-map"></i>
          </div>
          <h5>Five Star Business Support</h5>
          <p class="text-justify">
            At present the INZIN Help Line is available in 3 International
            Languages including Hindi, English & Punjabi. Our Customer Care
            Number can be used by Customers to Query, Feedback, Suggestion &
            Complaint and is operational 24x7. We Build a Business Door Free,
            You can Enter From Each Way you Know
          </p>
          <ul class="text-justify">
            <li>Go Online www.inzin.in</li>
            <li>By Email: info@inzin.in</li>
            <li>By Phone: +919313333370</li>
            <li>By WhatsApp: 09313333370</li>
            <li>
              & Walk-in 10+ Branches Across India. Find Us: Facebook, Instagram,
              Twitter, Google Plus, LinkedIn, YouTube, Pinterest & All
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-shop"></i>
          </div>
          <h5>Under One Roof Marketplace</h5>
          <p class="text-justify">
            Our intention is that all Automotive Brands come together ‘Under One
            Roof’; Our Clients will be able to make immediate connections with
            the aim addressing needs as quickly and efficiently as possible and,
            ideally, to create flow through the opportunity to best options
            without delay and associated risks. Being an "Under One Roof" Shop,
            INZIN wants to make a marketplace to easily avail all automotive
            products at one place. Our mission is to provide innovative product
            solutions for Automotive and industrial manufactures. Our mission is
            to provide all innovative product solutions for Automotive and
            industrial products at one marketplace. Come and Join us!
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-support"></i>
          </div>
          <h5>Business Opportunity @ lowest Investment</h5>
          <p class="text-justify">
            Only INZIN is the place where you can start your own business at the
            lowest investment. INZIN provides you many methods like free
            Distributorship, Franchise, Partnership, C&F, Sales partner, Channel
            partners and Dealership to start your business. INZIN is a new
            solutions provider and considers ourselves an essential partner in
            the successful future of Indian manufacturing companies. We are also
            involved in conducting regular workshops to keep our workforce
            forward with the latest manufacturing techniques. T&C Apply.!
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-support"></i>
          </div>
          <h5>Sell With Us</h5>
          <p class="text-justify">
            We are well-known B2B of Automotive products. There is nothing like
            us in the market, and we are very serious about what we are going to
            achieve. Now it is more easy to sell Automotive Products worldwide,
            we provide the largest Marketplace for All Automotive Products Like
            Lubricant oil, Greases, Auto Parts, Auto care products, Accessories
            & More at Zero Cost and Reach more Customers. We provide you a
            platform to sell your products online that saves you both time and
            cost. By selling with us, you can save your marketing and
            advertising cost. T&C Apply.
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12 mb-30">
        <div class="feature-item">
          <div class="icon-box">
            <i class="flaticon-support"></i>
          </div>
          <h5>Refer and Earn</h5>
          <p class="text-justify">
            Most of our business comes from referrals of satisfied customers.
            Therefore, to show our appreciation, we have developed a "Business
            Referral Program" which rewards you whenever you help us to get
            qualified leads and successful sales. The more people you refer to
            our company, the more rewards you get! Simply go to our contact page
            and email us information about who you would like to refer. If we do
            business with the referred we will immediately send out your
            commission Up to 10% of the sale value on each & every repeated
            sale. T&C Apply.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- services end -->

<!-- cta-one start-->
<section class="cta-one tri-bg-w text-lg-left text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-lg-0 my-5 py-lg-0 py-5">
        <div class="cta-content">
          <h3>Sign Up To Get Special Offers Every Day</h3>
          <p>
            Lorem ipsum dolor sit amet, consectadetudzdae rcquisc adipiscing
            elit. Aenean socada commodo ligaui egets dolor.
          </p>
          <a href="login.html" class="btn btn-two btn-anim mt-2">
            sign up
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-block d-none">
        <div class="cta-img mt-4">
          <img src="assets/img/home/cta-bg.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta-one end -->
