<section class="bg-w sp-100 pb-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="d-block d-xl-flex">
            <div class="contact-left">
              <h4 class="mb-4" style="text-align: center;">get in touch</h4>
              <form class="custom-form" action="#">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <span class="fa fa-user"></span>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      placeholder="Enter Name"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-envelope"></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Email"
                      name="Ented email"
                      id="email"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-phone"></span>
                    <input
                      type="text"
                      id="phn"
                      class="form-control"
                      placeholder="Enter Number"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-edit"></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Email"
                      name="Ented email"
                      id="subject"
                    />
                  </div>
                  <div class="col-12">
                    <span class="fa fa-edit"></span>
                    <textarea
                      rows="5"
                      name="comment"
                      class="form-control"
                      placeholder="Your Message"
                      id="comment"
                    ></textarea>
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-one btn-anim"
                      id="submit"
                      name="submit"
                    >
                      send message
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="contact-right">
              <h4 class="mb-4" style="text-align: center;">contact us</h4>
              <!-- <p>
                Lorem ipsum dolor sit amet, consec tetu adip et cin elit. Aenean
                commodo ligula eget dol. Aenu sociis natoque partu nte nasc etur
                onec quam felis. Deserunt minim incididunt in magna enim.
              </p> -->
              <ul class="contact-info mt-4">
                <li>
                  <i class="fa fa-phone"></i>
                  +91-9313333370, +91-9613333370
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  info@inzin.in, sales@inzin.in
                </li>
                <li>
                  <i class="fa fa-map-marker-alt"></i>
                  Plot 225 S/F, Pole No. 9 , NH 10, Mundka, Delhi, 110041
                </li>
              </ul>
              <div class="socials contact-social" style="text-align: center; ">
                <a href="https://www.facebook.com/inzin.biz/">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/inzin.in/">
                  <i class="fab fa-instagram"></i>
                </a>
                <a
                  href="https://www.linkedin.com/in/inzin-automotive-lubricant-manufacturer-in-india/"
                >
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://twitter.com/inzin_india">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="https://inzin-india.blogspot.com/">
                  <i class="fab fa-blogger"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
