<!-- page-banner start-->
<section class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>CAREER</h3>
        <ul class="banner-link text-center">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="javascript:void(0)">pages</a>
          </li>
          <li>
            <span class="active">CAREER</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- page-banner ends-->

<!-- faq start-->
<section class="bg-w sp-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul class="nav faq-tabs mb-lg-0 mb-5" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#faq1" role="tab" data-toggle="tab"
              >Sales & Marketing (0-1 Year)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq2" role="tab" data-toggle="tab"
              >Seo Expert (0-1 Year)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq3" role="tab" data-toggle="tab"
              >Back Office (0-1 Year)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq4" role="tab" data-toggle="tab"
              >Graphic Designer (0-1 Year)</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq5" role="tab" data-toggle="tab"
              >HR Executives (0-1 Year)</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <h4 class="title-sep2 mb-30">Career</h4>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active show" id="faq1">
            <div id="faq-accordion1" class="theme-accordion">
              <div class="acc-card">
                <div class="acod-content">
                  <b>Sales Executive</b>
                  <p>
                    Activities Marketing Communication Skills Sales business
                    development lead generation cold calling international sales
                    international business development
                  </p>
                  <h4>Desired Candidate Profile</h4>
                  <p># Must Have excellent command over Communication</p>
                  <p>
                    # Must be confident and should be able to achieve monthly
                    revenue targets.
                  </p>
                  <p>
                    # Must have a flair for selling and should have a pleasant
                    personality.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq2">
            <div id="faq-accordion2" class="theme-accordion">
              <div class="acc-card">
                <div class="acod-content">
                  <b>Role/Skills</b>
                  <p>
                    1. Development of SEO strategies, consulting and executing
                    SEO tactics, as well as development of training programs for
                    our clients to allow them on-going success in natural search
                    marketing.
                  </p>
                  <p>
                    2. Lead and develop experienced SEO team to drive successful
                    client engagements and natural search results for our
                    clients.
                  </p>
                  <p>
                    3. Understanding and adherence to search engine algorithms,
                    shifts, requirements, and best of breed SEO
                  </p>
                  <p>
                    4. Keyword research strategies (terms, head/tail, user
                    intent, etc)
                  </p>
                  <p>
                    5. Site structure analysis, navigation, page construction
                    and additional site audits recommendations for optimal
                    search engine friendliness &amp; indexing
                  </p>
                  <p>
                    6. On-page optimization including content development
                    strategies supported by professional copywriting (meta tags,
                    content relevancy, keyword integration, semantic relevance,
                    etc)
                  </p>
                  <p>
                    7. Work with the development team to ensure SEO, SEE,
                    Digital Marketing best practices are properly implemented on
                    newly developed website
                  </p>
                  <p>
                    8. Work with editorial and marketing teams to drive SEO in
                    content creation and content programming
                  </p>
                  <p>
                    9. Link building strategies and execution; including viral
                    and buzz-oriented efforts
                  </p>
                  <p>
                    10. Should have knowledge about Social Media, advanced
                    knowledge of Google Analytics.
                  </p>
                  <p>
                    11. Knowledge about LOCAL SEO will be especially important,
                    knowing all the details about local ranking factors, such as
                    Google Local optimization, citations, and others is
                    essential for this position.
                  </p>
                  <p>
                    12. Client reporting, analytics, Key Performance Indicators,
                    and metrics for client evaluation
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq3">
            <div id="faq-accordion3" class="theme-accordion">
              <div class="acc-card">
                <div class="acod-content">
                  <p><b>Job Description</b></p>
                  <p>1. handling customers</p>
                  <p>2. handling their queries</p>
                  <p>3. handling stock</p>
                  <p>4. maintaining excel sheet</p>
                  <p>5. checking with the delivery boy</p>
                  <p>6. handling calls, emails etc</p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq4">
            <div id="faq-accordion4" class="theme-accordion">
              <div class="acc-card">
                <div class="acod-content">
                  <b>Responsibilities :</b>
                  <p>
                    1. Create high impact visuals for educational content like
                    infographics as well as social media marketing content like
                    brochures, banners etc.
                  </p>
                  <p>
                    2. Work on creating print advertisements / banners /
                    brochures.
                  </p>
                  <p>
                    3. Knowledge of printing process and how to design and
                    create files for optimal print quality and efficiency
                  </p>
                  <p>4. Knowledge of printing process and color management.</p>
                  <p>5. Stickers and label designing</p>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq5">
            <div id="faq-accordion5" class="theme-accordion">
              <div class="acc-card">
                <div class="acod-content">
                  <b>Responsibilities :</b>
                  <p>
                    #Understanding clients' requirements &amp; sourcing relevant
                    profiles.
                  </p>
                  <p>
                    #End to end recruitment of all the profiles (IT and Non-IT
                    profiles) in PAN India
                  </p>
                  <p></p>
                  #Resume screening, short-listing of candidates, scheduling
                  interviews, continuous follow-up
                  <p></p>
                  <p>
                    #Posting Job Advertisements on Job Portals &amp; Social
                    Networking sites.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq end -->

<!-- contact start-->
<section class="bg-w sp-100 pb-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="d-block d-xl-flex">
            <div class="contact-left">
              <h4 class="mb-4">get in touch</h4>
              <form class="custom-form" action="#">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <span class="fa fa-user"></span>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      placeholder="Enter Name"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-envelope"></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Email"
                      name="Ented email"
                      id="email"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-phone"></span>
                    <input
                      type="text"
                      id="phn"
                      class="form-control"
                      placeholder="Enter Number"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-edit"></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Email"
                      name="Ented email"
                      id="subject"
                    />
                  </div>
                  <div class="col-12">
                    <span class="fa fa-edit"></span>
                    <textarea
                      rows="5"
                      name="comment"
                      class="form-control"
                      placeholder="Your Message"
                      id="comment"
                    ></textarea>
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-one btn-anim"
                      id="submit"
                      name="submit"
                    >
                      send message
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="contact-right">
              <h4 class="mb-4">contact info</h4>
              <p>
                Lorem ipsum dolor sit amet, consec tetu adip et cin elit. Aenean
                commodo ligula eget dol. Aenu sociis natoque partu nte nasc etur
                onec quam felis. Deserunt minim incididunt in magna enim.
              </p>
              <ul class="contact-info mt-4">
                <li>
                  <i class="fa fa-phone"></i>
                  123-456-7890, 0123-456-789
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  Support@company.com
                </li>
                <li>
                  <i class="fa fa-map-marker-alt"></i>
                  Consectetur 241, sed Ac-1252, UK
                </li>
              </ul>
              <div class="socials contact-social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-google-plus-g"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-vine"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact end -->

<!-- cta-one start-->
<section class="cta-one tri-bg-w text-lg-left text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-lg-0 my-5 py-lg-0 py-5">
        <div class="cta-content">
          <h3>Sign Up To Get Special Offers Every Day</h3>
          <p>
            Lorem ipsum dolor sit amet, consectadetudzdae rcquisc adipiscing
            elit. Aenean socada commodo ligaui egets dolor.
          </p>
          <a href="login.html" class="btn btn-two btn-anim mt-2">
            sign up
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-block d-none">
        <div class="cta-img mt-4">
          <img src="assets/img/home/cta-bg.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta-one end -->
