<!-- page-banner start-->
<section class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>FAQ</h3>
        <ul class="banner-link text-center">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="javascript:void(0)">pages</a>
          </li>
          <li>
            <span class="active">FAQ</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- page-banner ends-->

<!-- faq start-->
<section class="bg-w sp-100">
  <div class="container">
    <h4 class="title-sep2 mb-30">
      Kindly read the terms and conditions [User agreement] of the INZIN
      Automotive Marketplace Pvt. Ltd. (Inzin.in.) carefully.
    </h4>
    <p>
      INZIN.in has the rights to modify and update the terms & conditions at any
      time without prior notice. Once the changes are made by INZIN.in, you will
      get a notification mail regarding the same for your knowledge.
    </p>
    <div class="row">
      <div class="col-lg-4">
        <ul class="nav faq-tabs mb-lg-0 mb-5 tablist" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#faq2" role="tab" data-toggle="tab"
              >Overview</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#faq2" role="tab" data-toggle="tab"
              >Business Partners</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq3" role="tab" data-toggle="tab"
              >Payment & Services</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq4" role="tab" data-toggle="tab"
              >Other</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active show" id="faq1">
            <div id="faq-accordion1" class="theme-accordion">
              <div class="acc-card">
                <div class="panel-heading" id="headingOne">
                  <button
                    class="acc-link"
                    data-toggle="collapse"
                    data-target="#collapseOne"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Liabilities Upon Termination
                  </button>
                </div>

                <div
                  id="collapseOne"
                  class="collapse show"
                  aria-labelledby="headingOne"
                  data-parent="#faq-accordion1"
                >
                  <div class="card-body">
                    <p class="text-justify">
                      <b>A.</b> If you fail to comply with the terms and
                      conditions of Inzin.in while accessing products, services
                      and other features, you will be terminated by us without
                      notice. User’s access to our web portal may also be
                      terminated if any of your activity is against Inzin.in
                      &amp; its subsidiaries, harmful to other users, business
                      contractors or third parties and disobey local and
                      international laws.
                    </p>
                    <p class="text-justify">
                      <b>B.</b> INZIN.in has the rights to deny its access of
                      the users or members acceptance with respect to any aspect
                      for protecting our interests. As a user, you are agreeing
                      that Inzin.in will not be responsible to you or any third
                      parties for the inability to use Inzin.in a website by
                      accepting the terms and conditions. It may be due to
                      interruption, limited access, changes in any Inzin.in
                      features, transmission or communication errors or any
                      damage arising while accessing our web portal.
                    </p>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="headingTwo">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseTwo"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Termination Of Agreement
                  </button>
                </div>
                <div
                  id="collapseTwo"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#faq-accordion1"
                >
                  <div class="card-body">
                    <p class="text-justify">
                      <b>A.</b> With the acceptance of Inzin.in terms and
                      conditions, you should not make a copy of any information
                      on our web portal such as website content, design, layout,
                      web font colours, images, videos, databases, concepts
                      derived us and any such information for reproducing,
                      selling,reselling, exploiting for any commercial purposes
                      without written approval from Inzin.in or third-party
                      content provider in our web portal. You also grant
                      permission to Inzin.in for accessing and
                      promoting/advertising all information given by you.
                    </p>
                    <p class="text-justify">
                      <b>B.</b> Members of Inzin.in are only responsible for
                      every transaction which is carried out across and through
                      the portal. It includes payment terms, shipping,
                      transportation, taxes, licenses, fees, fines and other
                      such transactions. Users hereby declare that they may face
                      risks related to falsification while dealing with people.
                      Inzin.in cannot assure that personal and company
                      information of registered users appropriate as it
                      burdensome to user verification online. Therefore,
                      Inzin.in prompts its users to perceive, understand, judge
                      and evaluate the persons they deal with.
                    </p>
                    <p class="text-justify">
                      <b>C.</b> Inzin.in has control over the products, services
                      and other information provided by users and third parties
                      but it is not responsible or gives assurance for its
                      quality, accuracy, legal aspects and other related things.
                      It also cannot take responsibility for any damages caused
                      to a user because of the immoral activities of another
                      user or natural disasters.
                    </p>
                    <p class="text-justify">
                      <b>D.</b> Inzin.in does not pre-screen the contents posted
                      by users or third parties even though it has the rights to
                      do it. It also does not give any assurance to the users
                      regarding the screening process. It has the rights to
                      monitor products, services and other features of members
                      sticking to the terms and conditions.
                    </p>
                    <p class="text-justify">
                      <b>E.</b> Every member of Inzin.in must be aware the
                      messages or information a user receives from other users
                      through our communication systems or from contact
                      information obtained such as E-mail or letters, fax, phone
                      number etc…, is out of our control. Therefore users have
                      to acknowledge that Inzin.in cannot take responsibility
                      for those messages, information and consequences arising
                      out of it rather the users themselves are responsible for
                      the same.
                    </p>
                    <p class="text-justify">
                      <b>F.</b> If the user provides any false or inappropriate
                      information, Inzin.in has the rights to terminate the
                      registration of users and deny their usage of its features
                      too. If you have registered with Inzin.in as a
                      representative of a business entity or a company, you are
                      supposed to guarantee that you are authorized to bind the
                      respective business entity according to the terms and
                      conditions and must use exact address of the business
                      entity.
                    </p>
                    <p class="text-justify">
                      <b>G.</b> After signing up with Inzin.in, members will be
                      able to log in to the respective account with their
                      credentials. Members are responsible for all the
                      activities involved and confidential maintenance of their
                      login credentials (Member ID and Password). So at the end
                      of each session in Inzin.in, you must log out properly
                      from your account. If you fail to do so, Inzin.in will not
                      be liable for any loss or damage arising out of it.
                    </p>
                    <p class="text-justify">
                      <b>H.</b> Inzin.in assures to cooperate fully with
                      governmental authorities and/or injured third parties
                      while investigating about the illegal activities by a user
                      that caused damage to another user (injured the third
                      party) in our web portal. Further, if Inzin.in receives a
                      request from a government or law enforcement body, an
                      injured third party or as a result of legal action, it may
                      disclose the identity and contact information of the
                      particular user. It is not liable for damages that occur
                      after that and therefore, users have to agree that they
                      will not bring any action or claim against Inzin.in for
                      such disclosure.
                    </p>
                    <p class="text-justify">
                      The contents and other information in Inzin.in are
                      compiled carefully but still, it denies the responsibility
                      about the validity, accuracy, reliability, quality and
                      stability of the same. There are possibilities to have
                      inaccuracies or typographical errors in the information
                      available in Inzin.in and information may be updated
                      without notice.
                    </p>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="headingThree">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Inzin.in Does Not Warrant That
                  </button>
                </div>
                <div
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#faq-accordion1"
                >
                  <div class="card-body">
                    <ul>
                      <li>
                        <i class="icon-ok"></i> The features, products and
                        services provided will meet the needs of the users
                      </li>
                      <li>
                        <i class="icon-ok"></i> The service will be continuous,
                        timely, secure or faultless
                      </li>
                      <li>
                        <i class="icon-ok"></i> The results of the services used
                        by you will be accurate or reliable
                      </li>
                      <li>
                        <i class="icon-ok"></i> The Quality of products,
                        services and other information that a user obtained
                        through Inzin.in &amp; features and services will meet
                        expectations of the users.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq2">
            <div id="faq-accordion2" class="theme-accordion">
              <div class="acc-card">
                <div class="panel-heading" id="heading2One">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapse2One"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Business Partner Overview
                  </button>
                </div>

                <div
                  id="collapse2One"
                  class="collapse"
                  aria-labelledby="heading2One"
                  data-parent="#faq-accordion2"
                >
                  <div class="card-body">
                    <div class="business-partners-content">
                      <p class="text-justify">
                        The usage of products, services and other features
                        offered by Inzin.in are subjected to the terms and
                        conditions. A user is referred to an individual/company
                        (legal entity authoritatively represented by a person)
                        who access the portal as a free member or a paid member
                        as per the agreement. After the completion of the
                        registration process in Inzin.in, the user will be
                        considered as a member.
                      </p>
                      <p class="text-justify">
                        If you want to access Inzin.in and become a member, you
                        are supposed to read, understand and accept this
                        agreement made between you and Inzin.in mentioning the
                        rules and regulations that a member of the portal should
                        follow.
                      </p>
                      <p class="text-justify">
                        Inzin.in does not represent any other websites that
                        users access through this. As those websites are
                        independent of Inzin.in and it has no control over that
                        website &amp; content, users are expected to understand
                        and acknowledge that Inzin.in is not responsible for the
                        contents, products and services made available through
                        such web sites.
                      </p>
                      <p class="text-justify">
                        The contents of Inzin.in are provided as it is
                        available. There is no express (promise clearly stated
                        verbally or in written) or implied (probability of
                        assurances made during certain situation) warranties.
                        These warranties are not limited to warranties of title,
                        fitness for a particular purpose, merchantability for
                        products and workmanlike quality for services. All such
                        warranties, conditions, assurances, promises,
                        undertakings and commitments are hereby excluded.
                      </p>
                      <p class="text-justify">
                        Inzin.in cannot be accountable for the delays or
                        failures or interruption of its content, features or
                        services occurred due to forces beyond reasonable
                        control including but not limited to natural disasters,
                        hardware/software corruption, internet failures/slow
                        internet process, electrical power failures, labour
                        disputes, explosions and any legal actions of Government
                        or courts.
                      </p>
                      <p class="text-justify">
                        Terms and conditions mentioned here predict the clear
                        agreement between Inzin.in and the user which replaces
                        previous understanding between them. In addition, the
                        user agrees that they have not depended upon any
                        assurances that are not mentioned explicitly in terms
                        and conditions.
                      </p>
                      <p class="text-justify">
                        The sub-headings given in the terms and conditions are
                        only for reference and the meaning of the agreement is
                        not affected in any manner.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="heading2Two">
                  <button
                    class="acc-link"
                    data-toggle="collapse"
                    data-target="#collapse2Two"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Clause Of Governing Law And Jurisdiction
                  </button>
                </div>
                <div
                  id="collapse2Two"
                  class="collapse show"
                  aria-labelledby="heading2Two"
                  data-parent="#faq-accordion2"
                >
                  <div class="card-body">
                    <p class="text-justify">
                      This Agreement and any dispute or matter arising out of or
                      in connection with and/or incidental to the use of the
                      Site and/or the Services shall be governed by the laws of
                      India without regard to its conflict of law provisions.
                    </p>
                    <p class="text-justify">
                      The User and the Company hereby irrevocably submit to the
                      sole and exclusive jurisdiction of the courts at Delhi,
                      India.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq3">
            <div id="faq-accordion3" class="theme-accordion">
              <div class="acc-card">
                <div class="panel-heading" id="heading3One">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapse3One"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    How To Pay Inzin ?
                  </button>
                </div>

                <div
                  id="collapse3One"
                  class="collapse"
                  aria-labelledby="heading3One"
                  data-parent="#faq-accordion3"
                >
                  <div class="card-body">
                    <p>
                      INZIN offers you COD &amp; Online payment methods.
                      Whatever your online mode of payment, you can rest assured
                      that INZIN's trusted payment gateway partners use secure
                      encryption technology to keep your transaction details
                      confidential at all times.
                    </p>
                    <p>
                      You may use Internet Banking or Cash on Delivery to make
                      your order.
                    </p>
                    <p>
                      INZIN also accepts payments made using Visa, MasterCard
                      and credit/debit cards all over India.
                    </p>

                    <p>
                      Also, there are no additional charges like taxes or
                      shipping charges. What you see, you have to pay only that!
                    </p>
                    <p>
                      INZIN assures you to keep your all account details
                      confidential. We have the highest level of transaction
                      security.
                    </p>

                    <p>
                      Returns, refunds, and exchanges are all a part of doing
                      business.
                    </p>
                    <p class="text-justify">
                      Our focus is on complete customer satisfaction. In the
                      event, if you are not satisfied with the services
                      provided, we will replace the order, provided the reasons
                      are genuine and proved after investigation. Please read
                      the fine each deal before buying it, it provides all the
                      details about the services or the product you purchase.
                    </p>
                    <p class="text-justify">
                      Many times, it happens customer is not satisfied with his
                      orders due to many reasons, the stock delivered is
                      damaged, replace that order, or simply they don't meet
                      their expectations. So, In case of dissatisfaction from
                      our services, clients have the liberty to cancel their
                      projects and request a refund from us. Our Policy for the
                      cancellation, refund, and stock return policy will be as
                      follows:
                    </p>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="heading3Three">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapse3Three"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Cancellation Policy
                  </button>
                </div>
                <div
                  id="collapse3Three"
                  class="collapse"
                  aria-labelledby="heading3Three"
                  data-parent="#faq-accordion3"
                >
                  <div class="card-body">
                    <p>
                      Due to any condition, the customer does not want his order
                      anymore or has to cancel its order before delivering 5% of
                      the payment will be deducted from the total payment.
                    </p>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="heading3Two">
                  <button
                    class="acc-link"
                    data-toggle="collapse"
                    data-target="#collapse3Two"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Stock replacement Policy
                  </button>
                </div>
                <div
                  id="collapse3Two"
                  class="collapse show"
                  aria-labelledby="heading3Two"
                  data-parent="#faq-accordion3"
                >
                  <div class="card-body">
                    <p>
                      Due to stock return policy, any customer wants to replace
                      the stock due to any condition, he has to pay:
                    </p>
                    <p>
                      28% of the payment will be deducted from the total
                      payment.
                    </p>
                    <p>
                      The products in transit are at the buyer’s risk. Either
                      the Seller or INZIN is not responsible for the damages
                      caused during shipping. It is completely the transporter’s
                      responsibility.
                    </p>
                    <p>
                      Transportation charges from both sides will be paid by the
                      customer itself.
                    </p>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="heading3Four">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapse3Four"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Stock Return
                  </button>
                </div>
                <div
                  id="collapse3Four"
                  class="collapse"
                  aria-labelledby="heading3Four"
                  data-parent="#faq-accordion3"
                >
                  <div class="card-body">
                    <h5>No stock return policy applicable at INZIN</h5>
                    <p>
                      <strong>For Special cases: </strong>If in any case, the
                      company will agree to a stock return then 28% stock return
                      charges + 30% refund charges will apply to the customer.
                    </p>
                    <p>
                      Stock return and replacement will applicable for 30 days
                      from the billing date only.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq4">
            <div id="faq-accordion4" class="theme-accordion">
              <div class="acc-card">
                <div class="panel-heading" id="heading4Three">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapse4Three"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    Welcome to Inzin.in
                  </button>
                </div>
                <div
                  id="collapse4Three"
                  class="collapse"
                  aria-labelledby="heading4Three"
                  data-parent="#faq-accordion4"
                >
                  <div class="card-body">
                    <p>
                      These terms and conditions outline the rules and
                      regulations for the use of INZIN's Website, located at
                      www.Inzin.in.
                    </p>
                    <p>
                      By accessing this website we assume you accept these terms
                      and conditions. Do not continue to use Inzin.in if you do
                      not agree to take all of the terms and conditions stated
                      on this page.
                    </p>
                    <p>
                      The following terminology applies to these Terms and
                      Conditions, Privacy Statement and Disclaimer Notice and
                      all Agreements. All terms refer to the offer, acceptance
                      and consideration of payment necessary to undertake the
                      process of our assistance to the Client in the most
                      appropriate manner for the express purpose of meeting the
                      Client's needs in respect of provision of the Company's
                      stated services, in accordance with and subject to,
                      prevailing law of Netherlands. Any use of the above
                      terminology or other words in the singular, plural,
                      capitalization and/or he/she or they, are taken as
                      interchangeable and therefore as referring to same.
                    </p>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="heading4Two">
                  <button
                    class="acc-link"
                    data-toggle="collapse"
                    data-target="#collapse4Two"
                    aria-expanded="false"
                    aria-controls="collapseTwo"
                  >
                    Cookies
                  </button>
                </div>
                <div
                  id="collapse4Two"
                  class="collapse show"
                  aria-labelledby="heading4Two"
                  data-parent="#faq-accordion4"
                >
                  <div class="card-body">
                    <p>
                      We employ the use of cookies. By accessing Inzin.in, you
                      agreed to use cookies in agreement with the Inzin's
                      Privacy Policy.
                    </p>
                    <p>
                      Most interactive websites use cookies to let us retrieve
                      the user's details for each visit. Cookies are used by our
                      website to enable the functionality of certain areas to
                      make it easier for people visiting our website. Some of
                      our affiliate/advertising partners may also use cookies.
                    </p>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="heading4One">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapse4One"
                    aria-expanded="true"
                    aria-controls="collapseOne"
                  >
                    Licenses
                  </button>
                </div>

                <div
                  id="collapse4One"
                  class="collapse"
                  aria-labelledby="heading4One"
                  data-parent="#faq-accordion4"
                >
                  <div class="card-body">
                    <p>
                      Unless otherwise stated, INZIN and/or its licensors own
                      the intellectual property rights for all material on
                      www.INZIN.in. All intellectual property rights are
                      reserved. You may access this from www.INZIN.in for your
                      own personal use subject to restrictions set in these
                      terms and conditions.
                    </p>
                    <h4>You must not:</h4>
                    <ul>
                      <li>Republish material from www.INZIN.in</li>
                      <li>
                        Sell, rent or sub-license material from www.INZIN.in
                      </li>
                      <li>
                        Reproduce, duplicate or copy material from www.INZIN.in
                      </li>
                      <li>Redistribute content from Website Name</li>
                      <li>This Agreement shall begin on the date hereof.</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="acc-card">
                <div class="panel-heading" id="heading4Four">
                  <button
                    class="acc-link collapsed"
                    data-toggle="collapse"
                    data-target="#collapse4Four"
                    aria-expanded="false"
                    aria-controls="collapseFour"
                  >
                    Disclaimer
                  </button>
                </div>
                <div
                  id="collapse4Four"
                  class="collapse"
                  aria-labelledby="heading4Four"
                  data-parent="#faq-accordion4"
                >
                  <div class="card-body">
                    <p>
                      To the maximum extent permitted by applicable law, we
                      exclude all representations, warranties and conditions
                      relating to our website and the use of this website.
                      Nothing in this disclaimer will:
                    </p>
                    <p>
                      Sed do eiusmod tempor incididunt ut labore et dolore magna
                      aliqua. Ut enim ad minim veniam, <br />quis nostrud
                      exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.
                    </p>
                    <ul>
                      <li>
                        (i) Limit or exclude our or your liability for death or
                        personal injury;
                      </li>
                      <li>
                        (ii) Limit or exclude our or your liability for fraud or
                        fraudulent misrepresentation;
                      </li>
                      <li>
                        (iii) Limit any of our or your liabilities in any way
                        that is not permitted under applicable law; or
                      </li>
                      <li>
                        (iv) Exclude any of our or your liabilities that may not
                        be excluded under applicable law.
                      </li>
                    </ul>
                    <p>
                      <b
                        >The limitations and prohibitions of liability set in
                        this Section and elsewhere in this disclaimer:
                      </b>
                    </p>
                    <p>(a) Are subject to the preceding paragraph; and</p>
                    <p>
                      (b) Govern all liabilities arising under the disclaimer,
                      including liabilities arising in contract, in tort and for
                      breach of statutory duty.
                    </p>
                    <p>
                      As long as the website and the information and services on
                      the website are provided free of charge, we will not be
                      liable for any loss or damage of any nature.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- faq end -->

<!-- cta-one start-->
<section class="cta-one tri-bg-w text-lg-left text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-lg-0 my-5 py-lg-0 py-5">
        <div class="cta-content">
          <h3>Sign Up To Get Special Offers Every Day</h3>
          <p>
            Lorem ipsum dolor sit amet, consectadetudzdae rcquisc adipiscing
            elit. Aenean socada commodo ligaui egets dolor.
          </p>
          <a href="login.html" class="btn btn-two btn-anim mt-2">
            sign up
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-block d-none">
        <div class="cta-img mt-4">
          <img src="assets/img/home/cta-bg.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta-one end -->
