<!-- page-banner start-->
<section class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>franchise</h3>
        <ul class="banner-link text-center">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <span class="active">franchise</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- page-banner ends-->

<!-- franchise start-->
<section class="bg-w sp-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul class="nav faq-tabs mb-lg-0 mb-5 franchise-tablist" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#faq1" role="tab" data-toggle="tab"
              >Know About Us</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq2" role="tab" data-toggle="tab"
              >Submit Your Application</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq3" role="tab" data-toggle="tab"
              >Get Together With Existing Franchises</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq4" role="tab" data-toggle="tab"
              >Choose Your Key Location</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq5" role="tab" data-toggle="tab"
              >Go For Franchise Agreement</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq6" role="tab" data-toggle="tab"
              >Attend Training</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq7" role="tab" data-toggle="tab"
              >Grand Opening</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <h4 class="title-sep2 mb-30">Start Franchise</h4>
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade in active show" id="faq1">
            <div id="faq-accordion1" class="theme-accordion">
              <p>
                Before Start with us, Know About our Strength, we are Leading
                Supplier, Exporter of Automotive Goods, We Direct Deals to The
                Franchise Holders and Chanel Partners
              </p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq2">
            <div id="faq-accordion2" class="theme-accordion">
              <p>
                Submit Your Application for franchise, we want to understand
                your interests. Provide us Complete Details of Your Personal and
                Professional Experience, it will prove your desire to be
                evaluated for franchise ownership.
              </p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq3">
            <div id="faq-accordion3" class="theme-accordion">
              <p>
                Visit to Our Existing Franchise owners, they are on the same
                path you’re now walking a year or two ago. Most will be very
                helpful in discussing the viability of their industry and the
                franchisor.
              </p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq4">
            <div id="faq-accordion4" class="theme-accordion">
              <p>
                choose a suitable place for business on your own, the franchisor
                will have to approve your location before you can move forward.
              </p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq5">
            <div id="faq-accordion5" class="theme-accordion">
              <p>
                The franchise agreement is a binding contract between you and
                INZIN. As such, Please review the agreement before you sign it.
                Make sure you understand the exact terms of the contract,
                including all your rights and obligations under the agreement.
              </p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq6">
            <div id="faq-accordion6" class="theme-accordion">
              <p>
                Our Training Session will be your next step in joining the
                network. Go rested, with an open mind. Absorb and make the
                commitment to follow their plan–You paid for it, now, use it!
              </p>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="faq7">
            <div id="faq-accordion6" class="theme-accordion">
              <p>
                Finally, it is time to open your franchise to the public, At
                this point your future is growing brighter because the person
                with the most to gain–you–is finally in charge of your success!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- franchise end -->

<!-- contact start-->
<section class="bg-w pb-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="d-block d-xl-flex">
            <div class="contact-left">
              <h4 class="mb-4">get in touch</h4>
              <form class="custom-form" action="#">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <span class="fa fa-user"></span>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      placeholder="Enter Name"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-envelope"></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Email"
                      name="Ented email"
                      id="email"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-phone"></span>
                    <input
                      type="text"
                      id="phn"
                      class="form-control"
                      placeholder="Enter Name"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-edit"></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Email"
                      name="Ented email"
                      id="subject"
                    />
                  </div>
                  <div class="col-12">
                    <span class="fa fa-edit"></span>
                    <textarea
                      rows="5"
                      name="comment"
                      class="form-control"
                      placeholder="Your Message"
                      id="comment"
                    ></textarea>
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-one btn-anim"
                      id="submit"
                      name="submit"
                    >
                      send message
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="contact-right">
              <h4 class="mb-4">contact info</h4>
              <p>
                Lorem ipsum dolor sit amet, consec tetu adip et cin elit. Aenean
                commodo ligula eget dol. Aenu sociis natoque partu nte nasc etur
                onec quam felis. Deserunt minim incididunt in magna enim.
              </p>
              <ul class="contact-info mt-4">
                <li>
                  <i class="fa fa-phone"></i>
                  123-456-7890, 0123-456-789
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  Support@company.com
                </li>
                <li>
                  <i class="fa fa-map-marker-alt"></i>
                  Consectetur 241, sed Ac-1252, UK
                </li>
              </ul>
              <div class="socials contact-social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-google-plus-g"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-vine"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- contact end -->

<!-- cta-one start-->
<section class="cta-one tri-bg-w text-lg-left text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-lg-0 my-5 py-lg-0 py-5">
        <div class="cta-content">
          <h3>Sign Up To Get Special Offers Every Day</h3>
          <p>
            Lorem ipsum dolor sit amet, consectadetudzdae rcquisc adipiscing
            elit. Aenean socada commodo ligaui egets dolor.
          </p>
          <a href="/signin" class="btn btn-two btn-anim mt-2">
            sign up
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-block d-none">
        <div class="cta-img mt-4">
          <img src="assets/img/home/cta-bg.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta-one end -->
