.slider {
  margin: 15px;
  padding: 8px;
}

.slide {
  border-radius: 15px;
  height: 200px;
  filter: drop-shadow(5px 8px 5px gray);
}
/* 
.slide:hover {
  transform: scale(0.8);
} */

.slider-div {
  padding: 12px;
  background-color: aliceblue;
  border-radius: 15px;
}

.star-rating {
  padding: 0;
  margin: 0;
  position: relative;
  top: -30px;
  padding-left: 18px;
  border-radius: 0 0 15px 15px;
  background-color: rgba(0, 0, 0, 0.8);
}

.img-title {
  margin: 8px;
  position: relative;
  top: -25px;
}

.img-desc {
  margin: 8px;
  position: relative;
  top: -20px;
}

.likes {
  position: relative;
  color: white;
  top: -60px;
  right: 80px;
}
