.slider {
  max-width: 100%;
  margin: 20px;
}

.slide {
  border-radius: 15px;
  background-color: #ff3a54;
  width: 100px;
  height: 150px;
  filter: drop-shadow(5px 8px 5px gray);
}

.img-title {
  margin: 8px;
  padding: 10px;
  text-align: center;
}
