<!-- page-banner start-->
<section class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Lubricants</h3>
        <ul class="banner-link text-center">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="javascript:void(0)">Automotive</a>
          </li>
          <li>
            <span class="active">listing page</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- page-banner ends-->

<!-- listing start -->
<!-- <section class="bg-w tri-bg sp-100-70 o-hide">
  <div class="container">
    <div class="list-category-slider owl-carousel owl-theme mb-60">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="list-items2 btn-anim">
            <div class="icon-box">
              <i class="flaticon-find"></i>
            </div>
            <h5 class="mb-0 mt-3">
              <a href="#">Lubricant</a>
            </h5>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="list-items2 btn-anim">
            <div class="icon-box">
              <i class="flaticon-spa"></i>
            </div>
            <h5 class="mb-0 mt-3">
              <a href="#">Grease</a>
            </h5>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="list-items2 btn-anim">
            <div class="icon-box">
              <i class="flaticon-cheers"></i>
            </div>
            <h5 class="mb-0 mt-3">
              <a href="#">Coolant</a>
            </h5>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="list-items2 btn-anim">
            <div class="icon-box">
              <i class="flaticon-hotel"></i>
            </div>
            <h5 class="mb-0 mt-3">
              <a href="#">Battery</a>
            </h5>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="list-items2 btn-anim">
            <div class="icon-box">
              <i class="flaticon-cutlery"></i>
            </div>
            <h5 class="mb-0 mt-3">
              <a href="#">Auto Parts</a>
            </h5>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="list-items2 btn-anim">
            <div class="icon-box">
              <i class="flaticon-shop"></i>
            </div>
            <h5 class="mb-0 mt-3">
              <a href="#">Tyres and Tubes</a>
            </h5>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="list-items2 btn-anim">
            <div class="icon-box">
              <i class="flaticon-drama"></i>
            </div>
            <h5 class="mb-0 mt-3">
              <a href="#">Auto-Care Products</a>
            </h5>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="list-items2 btn-anim">
            <div class="icon-box">
              <i class="flaticon-drama"></i>
            </div>
            <h5 class="mb-0 mt-3">
              <a href="#">Accessories</a>
            </h5>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-lg-3 col-md-6">
        <input
          type="text"
          class="form-control"
          placeholder="What are you looking for?"
        />
      </div>
      <div class="col-lg-3 col-md-6">
        <select class="form-control custom-select" id="service2">
          <option>Distributer</option>
          <option>CNF</option>
          <option>Business Partner</option>
          <option>pharmacy</option>
          <option>shops</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-4">
        <button type="submit" class="btn btn-one btn-anim br-5 w-100 mb-30">
          <i class="fa fa-search"></i> search
        </button>
      </div>
    </div>
  </div>
</section> -->
<!-- listing start -->

<!-- listing carousel start -->
<div class="row slider">
  <div class="col-12 ">
    <div class="popular-list-slider mb-0 ">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slidesStore">
          <ng-template carouselSlide [id]="slide.id">
            <img
              class="slide"
              [src]="slide.src"
              [alt]="slide.alt"
              [title]="slide.title"
            />
            <h4 class="img-title">{{ slide.title }}</h4>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>
<!-- lisrting carousel end -->

<!-- popular listing start -->
<section class="bg-dull sp-100-70">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="all-title">
          <h3 class="sec-title">
            popular listing
          </h3>
          <svg class="title-sep">
            <path
              fill-rule="evenodd"
              d="M32.000,13.000 L32.000,7.000 L35.000,7.000 L35.000,13.000 L32.000,13.000 ZM24.000,4.000 L27.000,4.000 L27.000,16.000 L24.000,16.000 L24.000,4.000 ZM16.000,-0.000 L19.000,-0.000 L19.000,20.000 L16.000,20.000 L16.000,-0.000 ZM8.000,4.000 L11.000,4.000 L11.000,16.000 L8.000,16.000 L8.000,4.000 ZM-0.000,7.000 L3.000,7.000 L3.000,13.000 L-0.000,13.000 L-0.000,7.000 Z"
            />
          </svg>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean
            commodo ligula eget dolor penatibus ean massa. Cum sociis natoqu
            penatibus et magnis dis parturient montes.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="listing-item2 mb-30">
          <div class="img-holder">
            <span class="offer">save 30% </span>
            <img src="assets/img/home/pl-slide1.jpg" alt="list" />
            <a class="likes" href="#"> <i class="far fa-heart"></i> 14 </a>
          </div>
          <div class="list-content">
            <h5>
              <a href="#">the lounge & bar</a>
            </h5>
            <p>Donec pede justo fringilla vel, aliquet nect</p>
            <div class="centering justify-content-between">
              <ul class="ctg-info">
                <li class="my-1">
                  <a href="#">
                    <i class="flaticon-cutlery mr-2"></i> restaurants</a
                  >
                </li>
                <li class="my-1">
                  <span class="c-theme"> open now</span>
                </li>
              </ul>
              <ul>
                <li class="list-rating mb-1">
                  <span> <i class="fa fa-star mr-1"></i>3.0</span>
                </li>
              </ul>
            </div>
            <ul class="ctg-info2 pt-2 mt-3 centering justify-content-between">
              <li class="mt-1">
                <a href="#">
                  <i class="fa fa-map-marker-alt mr-2"></i>San Francisco, USA</a
                >
              </li>
              <li class="mt-1">
                <a href="#"> <i class="fa fa-phone mr-2"></i>0123-456-789</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="listing-item2 mb-30">
          <div class="img-holder">
            <span class="offer">save 33% </span>
            <img src="assets/img/home/pl-slide2.jpg" alt="list" />
            <a class="likes" href="#"> <i class="far fa-heart"></i>55 </a>
          </div>
          <div class="list-content">
            <h5>
              <a href="#">the best shop in city</a>
            </h5>
            <p>Donec pede justo fringilla vel, aliquet nect</p>
            <div class="centering justify-content-between">
              <ul class="ctg-info">
                <li class="my-1">
                  <a href="#"> <i class="flaticon-shop mr-2"></i>shopping</a>
                </li>
                <li class="my-1">
                  <span class="c-theme"> open now</span>
                </li>
              </ul>
              <ul>
                <li class="list-rating mb-1">
                  <span> <i class="fa fa-star mr-1"></i>2.5</span>
                </li>
              </ul>
            </div>
            <ul class="ctg-info2 pt-2 mt-3 centering justify-content-between">
              <li class="mt-1">
                <a href="#">
                  <i class="fa fa-map-marker-alt mr-2"></i>San Francisco, USA</a
                >
              </li>
              <li class="mt-1">
                <a href="#"> <i class="fa fa-phone mr-2"></i>0123-456-789</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="listing-item2 mb-30">
          <div class="img-holder">
            <span class="offer">save 26% </span>
            <img src="assets/img/home/pl-slide3.jpg" alt="list" />
            <a class="likes" href="#"> <i class="far fa-heart"></i>31 </a>
          </div>
          <div class="list-content">
            <h5>
              <a href="#">enjoy best nightlife</a>
            </h5>
            <p>Donec pede justo fringilla vel, aliquet nect</p>
            <div class="centering justify-content-between">
              <ul class="ctg-info">
                <li class="my-1">
                  <a href="#"> <i class="flaticon-cheers mr-2"></i>nightlife</a>
                </li>
                <li class="my-1">
                  <span class="c-theme"> open now</span>
                </li>
              </ul>
              <ul>
                <li class="list-rating mb-1">
                  <span> <i class="fa fa-star mr-1"></i>3.2</span>
                </li>
              </ul>
            </div>
            <ul class="ctg-info2 pt-2 mt-3 centering justify-content-between">
              <li class="mt-1">
                <a href="#">
                  <i class="fa fa-map-marker-alt mr-2"></i>San Francisco, USA</a
                >
              </li>
              <li class="mt-1">
                <a href="#"> <i class="fa fa-phone mr-2"></i>0123-456-789</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="listing-item2 mb-30">
          <div class="img-holder">
            <span class="offer">save 22% </span>
            <img src="assets/img/home/pl-slide4.jpg" alt="list" />
            <a class="likes" href="#"> <i class="far fa-heart"></i>05 </a>
          </div>
          <div class="list-content">
            <h5>
              <a href="#">best beauty & spa services</a>
            </h5>
            <p>Donec pede justo fringilla vel, aliquet nect</p>
            <div class="centering justify-content-between">
              <ul class="ctg-info">
                <li class="my-1">
                  <a href="#">
                    <i class="flaticon-spa mr-2"></i>beauty &amp; spa</a
                  >
                </li>
                <li class="my-1">
                  <span class="c-theme"> open now</span>
                </li>
              </ul>
              <ul>
                <li class="list-rating mb-1">
                  <span> <i class="fa fa-star mr-1"></i>4.6</span>
                </li>
              </ul>
            </div>
            <ul class="ctg-info2 pt-2 mt-3 centering justify-content-between">
              <li class="mt-1">
                <a href="#">
                  <i class="fa fa-map-marker-alt mr-2"></i>San Francisco, USA</a
                >
              </li>
              <li class="mt-1">
                <a href="#"> <i class="fa fa-phone mr-2"></i>0123-456-789</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="listing-item2 mb-30">
          <div class="img-holder">
            <span class="offer">save 29% </span>
            <img src="assets/img/home/pl-slide5.jpg" alt="list" />
            <a class="likes" href="#"> <i class="far fa-heart"></i>36 </a>
          </div>
          <div class="list-content">
            <h5>
              <a href="#">best destinations in city</a>
            </h5>
            <p>Donec pede justo fringilla vel, aliquet nect</p>
            <div class="centering justify-content-between">
              <ul class="ctg-info">
                <li class="my-1">
                  <a href="#">
                    <i class="flaticon-find mr-2"></i>desitination</a
                  >
                </li>
                <li class="my-1">
                  <span class="c-theme"> open now</span>
                </li>
              </ul>
              <ul>
                <li class="list-rating mb-1">
                  <span> <i class="fa fa-star mr-1"></i>3.5</span>
                </li>
              </ul>
            </div>
            <ul class="ctg-info2 pt-2 mt-3 centering justify-content-between">
              <li class="mt-1">
                <a href="#">
                  <i class="fa fa-map-marker-alt mr-2"></i>San Francisco, USA</a
                >
              </li>
              <li class="mt-1">
                <a href="#"> <i class="fa fa-phone mr-2"></i>0123-456-789</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 col-md-6 col-12">
        <div class="listing-item2 mb-30">
          <div class="img-holder">
            <span class="offer">save 49% </span>
            <img src="assets/img/home/pl-slide6.jpg" alt="list" />
            <a class="likes" href="#"> <i class="far fa-heart"></i>61 </a>
          </div>
          <div class="list-content">
            <h5>
              <a href="#">best hotels in town</a>
            </h5>
            <p>Donec pede justo fringilla vel, aliquet nect</p>
            <div class="centering justify-content-between">
              <ul class="ctg-info">
                <li class="my-1">
                  <a href="#"> <i class="flaticon-hotel mr-2"></i>hotels</a>
                </li>
                <li class="my-1">
                  <span class="c-theme"> open now</span>
                </li>
              </ul>
              <ul>
                <li class="list-rating mb-1">
                  <span> <i class="fa fa-star mr-1"></i>4.0</span>
                </li>
              </ul>
            </div>
            <ul class="ctg-info2 pt-2 mt-3 centering justify-content-between">
              <li class="mt-1">
                <a href="#">
                  <i class="fa fa-map-marker-alt mr-2"></i>San Francisco, USA</a
                >
              </li>
              <li class="mt-1">
                <a href="#"> <i class="fa fa-phone mr-2"></i>0123-456-789</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- popular listing end -->

<!-- cta-one start-->
<section class="cta-one tri-bg-w text-lg-left text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-lg-0 my-5 py-lg-0 py-5">
        <div class="cta-content">
          <h3>Sign Up To Get Special Offers Every Day</h3>
          <p>
            Lorem ipsum dolor sit amet, consectadetudzdae rcquisc adipiscing
            elit. Aenean socada commodo ligaui egets dolor.
          </p>
          <a href="login.html" class="btn btn-two btn-anim br-5 mt-2">
            sign up
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-block d-none">
        <div class="cta-img mt-4">
          <img src="assets/img/home/cta-bg.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta-one end -->
