<!-- page-banner start-->
<section class="page-banner">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>business referral program</h3>
        <ul class="banner-link text-center">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <span class="active">business referral program</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- page-banner ends-->

<!-- faq start-->
<section class="bg-w sp-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="image-wrap">
          <iframe
            width="498"
            height="280"
            src="https://www.youtube.com/embed/ZAlmZL-EiVs"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
      <div class="col-lg-6">
        <h4 class="title-sep2 mb-30">INZIN.IN</h4>
        <p>
          Most of our business comes from referrals of satisfied customers.
          Therefore, to show our appreciation, we have developed a "Business
          Referral Program" which rewards you whenever you help us to get
          qualified leads and successful sales. The more people you refer to our
          company, the more rewards you get! Simply go to our contact page and
          email us information about who you would like to refer. If we do
          business with the referred we will immediately send out your
          commission Up to 10% of the sale value on each & every repeated sale.
          The same applies if a referral calls our company and tells us that you
          referred them. As there are many different ways to offer a referral
          program. Some of these include offering discounts, gift cards, product
          giveaways, and exclusive deals. But we offer you this, 10% of every
          sale. There is no limit to the number of customers you can refer! Help
          us to grow our business and earn as much as you can. This referral
          program helps us to make new contacts and to know where this kind of
          business grows.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- faq end -->

<!-- contact start-->
<section class="bg-w pb-lg-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="contact-box">
          <div class="d-block d-xl-flex">
            <div class="contact-left">
              <h4 class="mb-4">get in touch</h4>
              <form class="custom-form" action="#">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <span class="fa fa-user"></span>
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      placeholder="Enter Name"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-envelope"></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Email"
                      name="Ented email"
                      id="email"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-phone"></span>
                    <input
                      type="text"
                      id="phn"
                      class="form-control"
                      placeholder="Enter Name"
                    />
                  </div>
                  <div class="col-md-6 col-12">
                    <span class="fa fa-edit"></span>
                    <input
                      type="email"
                      class="form-control"
                      placeholder="Enter Email"
                      name="Ented email"
                      id="subject"
                    />
                  </div>
                  <div class="col-12">
                    <span class="fa fa-edit"></span>
                    <textarea
                      rows="5"
                      name="comment"
                      class="form-control"
                      placeholder="Your Message"
                      id="comment"
                    ></textarea>
                  </div>
                  <div class="col-12">
                    <button
                      type="submit"
                      class="btn btn-one btn-anim"
                      id="submit"
                      name="submit"
                    >
                      send message
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="contact-right">
              <h4 class="mb-4">contact info</h4>
              <p>
                Lorem ipsum dolor sit amet, consec tetu adip et cin elit. Aenean
                commodo ligula eget dol. Aenu sociis natoque partu nte nasc etur
                onec quam felis. Deserunt minim incididunt in magna enim.
              </p>
              <ul class="contact-info mt-4">
                <li>
                  <i class="fa fa-phone"></i>
                  123-456-7890, 0123-456-789
                </li>
                <li>
                  <i class="fa fa-envelope"></i>
                  Support@company.com
                </li>
                <li>
                  <i class="fa fa-map-marker-alt"></i>
                  Consectetur 241, sed Ac-1252, UK
                </li>
              </ul>
              <div class="socials contact-social">
                <a href="#">
                  <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                  <i class="fab fa-google-plus-g"></i>
                </a>
                <a href="#">
                  <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                  <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="#">
                  <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                  <i class="fab fa-vine"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact end -->

<!-- cta-one start-->
<section class="cta-one tri-bg-w text-lg-left text-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 my-lg-0 my-5 py-lg-0 py-5">
        <div class="cta-content">
          <h3>Sign Up To Get Special Offers Every Day</h3>
          <p>
            Lorem ipsum dolor sit amet, consectadetudzdae rcquisc adipiscing
            elit. Aenean socada commodo ligaui egets dolor.
          </p>
          <a href="login.html" class="btn btn-two btn-anim mt-2">
            sign up
          </a>
        </div>
      </div>
      <div class="col-lg-6 d-lg-block d-none">
        <div class="cta-img mt-4">
          <img src="assets/img/home/cta-bg.png" alt="image" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- cta-one end -->
